body {
    background-color: white;
    font-family: sans-serif;
    text-align: center;
}

footer {    
    height: 30px;
    line-height: 30px;
    background-color: #9C9C9C;
    font-size: small;
    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}